  <footer class="footer">

    <div class="subscription">
      <div class="wraper-sub">
        <span class="bold4" style="width: 87px; height: 20px; color: #F2BE22; font-size: 18px;">актуально</span>
        <span class="bold8" style="height: 62px; color: black; font-size: 26px;">Получайте полезные <br> рассылки о путешествиях</span>
      </div>
      <div class="subscrition-button">
        <span class="fs-16 bold6">Введите e-mail адрес</span>
        <form class="subscribe-form fs-14" action="/subscribe-endpoint" method="POST">
          <input 
            type="email" 
            class="subscribe-input" 
            placeholder="name@domain.com" 
            required
          >
          <button type="submit" class="subscribe-btn fs-16 bold6">Подписаться на новости</button>
        </form>
        <span class="fs-14 bold6 ">подписываясь на новости, вы автоматически соглашаетесь с <a href="" style="color: #120303">условиями обработки персональных данных</a> и <a href="" style="color: #080101">правилами рекламных рассылок</a></span>
      </div>
    </div>

    <div class="info">

      <div class="company">
        <div class="title-company fs-20 bold7">Компания «РумТибет»</div>
        <div class="history-company">Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.</div>
        <div class="сontact-info">
          <div class="mail-info">
            <a href="mailto:info@domain.com" style="color: #ffffff">info@domain.com</a>
          </div>
          <div class="tel-info">
            <a href="tel:+7 (123) 456-78-90" style="color: #ffffff">+7 (123) 456-78-90</a>
          </div>
        </div>
        <div class="social-media">
          <a href="#" class="social-link">
            <img src="/images/social-icons/telegram-icon.svg" alt="Telegram" style="width: 32px; height: 32px;">
          </a>
          <a href="#" class="social-link">
            <img src="/images/social-icons/vk-icon.svg" alt="VK" style="width: 32px; height: 32px;">
          </a>
          <a href="#" class="social-link">
            <img src="/images/social-icons/pinterest-icon.svg" alt="Pinterest" style="width: 32px; height: 32px;">
          </a>
          <a href="#" class="social-link">
            <img src="/images/social-icons/skype-icon.svg" alt="Skype" style="width: 32px; height: 32px;">
          </a>
        </div>
      </div>

      <div class="our-services">
        <div class="title-our-services fs-20 bold7">Наши услуги</div>
        <div class="services-wraper fs-14 bold4">
          <span class="services-item">Прогулки в горы летом</span>
          <span class="services-item">Зимние походы в горы</span>
          <span class="services-item">Посещение храмов в горах</span>
          <span class="services-item">Экстремальные виды туризма</span>
          <span class="services-item">Походы в джунглях Амазонии</span>
          <span class="services-item">Поездка в Африку</span>
        </div>
      </div>

      <div class="important-for-trip">
        <div class="fs-20 bold7">Важно для путешествий</div>
        <div class="for-trip-wrapper-container fs-14 bold4">
          <span class="for-trip-item">Как собрать в долгий поход?</span>
          <span class="for-trip-item">Жизненно важные предметы для похода</span>
          <span class="for-trip-item">Медицинская страховка, гарантии безопасности</span>
          <span class="for-trip-item">Если вы врач - загляните сюда</span>
        </div>
      </div>
    </div>

    <div class="privacy-politicy">
      <div class="container-privacy-politicy">
        <span>ИП Константинопольский К.К., 2023</span>
        <span><a href=""style="color: #ffffff" >Политика обработки персональных данных</a></span>
      </div>
    </div>

  </footer>

