@use './fonts';
@use './normalize';

*{
font-family: 'Nunito Sans';


box-sizing: border-box;
}

.container {
  display: block;
  width: 1080px;
}

.wraper {
  color: var(--primery-color);
  background: #FFFFFF33;
  width: 270px;
  height: 52px
}

.about-title {
  color: var(--secondary-color);
  font-size: 24px;
}


.title {
  color: var(--inverse-color);
  font-size: 32px;
  line-height: 120%;
  margin: 0;
  }

:root {
  --primery-color: #ffff;
  --inverse-color: black;
  --secondary-color: #F2BE22;
}
.colorsecond {
  color: #F2BE22;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}


.fs-32 {
  font-size: 32px;
}

.bold4 {
  font-weight: 400;
}

.bold6 {
  font-weight: 600;
}
.bold7 {
  font-weight: 700;
}
.bold8 {
  font-weight: 800;
}
.margin0 {
  margin: 0;
}